<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ul>
      <li><a href="https://medium.com/@andgomes/git-trabalhando-com-branches-remotos-c79aabf3a2e5" target="_blank" rel="noopener noreferrer">Trabalhando com branches remotos</a></li>
      <li><a href="https://www.youtube.com/watch?v=2ZcGz5Y3o10&list=PLJjetMSzCM-pV7MYP_9kDsrdgXE3Sx-lq&index=8" target="_blank" rel="noopener noreferrer">Curso Laravel Livewire</a></li>
      <li><a href="https://laravel-school.com/posts/making-your-first-component-with-laravel-livewire-63" target="_blank" rel="noopener noreferrer">Making your first component with laravel livewire</a></li>
      <li><a href="https://medium.com/@branick/search-with-laravel-livewire-cb6dcd4ad541" target="_blank" rel="noopener noreferrer">Search with laravel livewire</a></li>
      <li><a href="https://laravel-livewire.com/docs/2.x/reference" target="_blank" rel="noopener noreferrer">Laravel livewire DOC</a></li>      
    </ul>
  </div>
</ion-content>
